<% provide(:title, "Expenses") %>
<div class="px-8 flex flex-col h-full">
  <div class="flex items-center mb-8 relative z-10">
    <h1 class="font-semibold text-4xl text-blue">Expenses</h1>
    <button class="bg-red text-white font-semibold px-4 py-2 rounded-md ms-auto hover:bg-darkred" id="delete-expense-button">
      Delete
    </button>
  </div>

</div>

